{% extends "layout.html" %}

{% block title %}
     Reset Password 
{% endblock %}

{% block main %}
     
          <section class="custom-section">
               <form method="POST" action="">   
                    {{ form.hidden_tag() }}            
                    <div class="mb-3">
                         <!-- {{ form.password.label(class="form-control-label mb-1") }} -->
                         {% if form.password.errors %}
                              {{ form.password(class="form-control mx-auto w-auto is_invalid", placeholder="Password") }}
                              <div class="invalid_feedback">
                                   {% for error in errors %}
                                        <span> {{ error }} </span>
                                   {% endfor %}
                              </div>
                         {% else %}
                         {{ form.password(class="form-control mx-auto w-auto is_invalid", placeholder="Password") }}
                         {% endif %}

                    </div>
                    <div class="mb-3">
                         <!-- {{ form.confirmation.label(class="form-control-label mb-1") }}             -->
                         {% if form.confirmation.errors %}
                              {{ form.confirmation(class="form-control mx-auto w-auto is-invalid", placeholder="Confirm your password") }}
                                   <div class="invalid-feedback">
                                   {% for error in errors %}
                                        <span> {{ error }}</span>                            
                                   {% endfor %}
                                   </div>
                         {% else %}
                         {{ form.confirmation(class="form-control mx-auto w-auto", placeholder="Confirm your password") }}
                         {% endif %}
                    </div>
                    <div class="form-group">
                         {{ form.submit(class="btn btn-outline-info form-btns") }}
                    </div>
                    <div class="form-group">
                    <small class="form-text text-muted">Already have an Account? <a href="{{ url_for('login') }}">Sign in</a></small>
                    </div>
                    
               </form>
         </section>
{% endblock %}

